* {
    margin: 0;
    padding: 0;
  }
  

  .logoImage-Component {
    width: 176px;
    height: 45px;
}
.nav-list a {
  color: #000000;
  text-decoration: none;
  transition: opacity 0.3s;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  position: relative; /* Necessário para o efeito */
  padding-bottom: 5px; /* Espaço entre o texto e o sublinhado */
}

.nav-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease-in-out;
}



.nav-list a:hover::after {
  width: 100%;
}


body {
    overflow-x: hidden!important; /* Sempre evita rolagem lateral */
}
  
.logo-component img{
    width: 48.8px;
    height: 60px;
}


  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }






  nav {
    position: fixed; /* Mantém a navbar fixa no topo */
    top: 0; /* Gruda no topo */
    left: 0;
    width: 100%; /* Ocupa toda a largura */
    z-index: 1000; /* Garante que fique acima dos outros elementos */
    background-color: #F5AB00;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 40px 40px; /* Arredonda só a parte de baixo */
    margin: 0; /* Remove qualquer margem */
    padding: 0 15%;
}
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .IconButton-homepage {
    text-decoration: none;
    color: white; /* Cor baseada no tema */
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.IconButton-homepage:hover {
    color: black;
    cursor: pointer;
    transform: scale(1.1);
}
  .nav-list {
    list-style: none;
    display: flex;
    z-index: 100000;
  }
  button.cadastro, button.login {
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button.cadastro {
    background-color: #181818;
    color: #ffffff;
    border: 2px solid #F5AB00;
    padding: 8px 11px;
}

button.login {
    background-color: #181818;
    color: #ffffff;
    border: 2px solid #F5AB00;
    padding: 8px 23px;
}


  
  .nav-list li {
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
    z-index: 1000;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #000000;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #F5AB00;
      height: 72px;
      border-radius: 0 0 20px 20px;
      position: fixed; /* Fixar no topo */
      top: 0; /* Definir no topo */
      width: 100%; /* Preencher a largura da tela */
      z-index: 1000; /* Garantir que a navbar esteja acima de outros elementos */
      border-radius: 0 0 0 0;
      margin-top: 0;
        margin-left: 0;
        margin-right: 0;

    }
    button.cadastro {
        background-color: #F5AB00 !important;
        color: #000000 !important; /* Texto branco */
        padding: 8px 11px;
    }

    button.login {
        background-color: #F5AB00 !important;
        color: #000000 !important; /* Texto preto */
        padding: 8px 23px;
    }

    .nav-list {
      position: fixed;
      top: 8vh;
      right: -100%; /* Esconde fora da viewport */
      width: 50vw;
      height: 92vh;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: #F5AB00; /* Exemplo de cor */
      transition: right 0.3s ease-in-out;
      z-index: 100; /* Certifique-se de que está acima de outros elementos */
    }
    .nav-list.active {
      right: 0; /* Move para dentro da viewport */
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  } 