.container.politicServiceNestguard {
    max-width: 800px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-top: 5%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.container.politicServiceNestguard h1 {
    text-align: center;
    color: #000000;
}
.container.politicServiceNestguard h2 {
    color: #303030;
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.container.politicServiceNestguard p {
    line-height: 1.6;
    margin-bottom: 15px;
}
.container.politicServiceNestguard ul {
    list-style: none;
    padding: 0;
}
.container.politicServiceNestguard ul li {
    background: #fcf3e4;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}
.footer.politicServiceNestguard {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

@media screen and (max-width: 1100px) {
    .container.politicServiceNestguard {
        margin-top: 10%;
    }
}
@media screen and (max-width: 768px) {
    .container.politicServiceNestguard {
        margin-top: 25%;
    }
}