/* Contêiner principal */
.section-container {
    text-align: center;
    padding: 40px 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    margin-top: 100px;
  }
  
  /* Cabeçalho da seção */
  .section-header h1 {
    font-size: 2.0rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .section-header p {
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 30px;
  }
  
  /* Contêiner dos cards */
  .cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Para responsividade */
  }
  
  /* Estilo dos cards */
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  /* Ícones dos cards */
  .card img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
  
  /* Títulos dos cards */
  .card h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Texto dos cards */
  .card p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
  }
  