name: Deploy via SCP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Configurar chave SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" | tr -d '\r' > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -p 2020 -H 179.125.68.2 >> ~/.ssh/known_hosts

      - name: Testar conexão SSH
        run: ssh -i ~/.ssh/id_rsa -p 2020 root@179.125.68.2 "echo Conexão bem-sucedida!"

      - name: Enviar arquivos via SCP
        run: scp -i ~/.ssh/id_rsa -P 2020 -r ./* root@179.125.68.2:/home
